.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.container .profile {
  width: 60%;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.container .profile .imgProfile {
  width: 20%;
  max-width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .profile .imgProfile img {
  width: 100%;
  border-radius: 50%;
  border: 0.25rem solid var(--secondary);
}

.container .profile .infoProfile {
  width: 60%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .profile .infoProfile .nomeProfile {
  font-weight: bold;
  font-size: xx-large;
}

.container .profile .infoProfile .banned {
  color: var(--red-400);
}

.container .profile .infoProfile .emailProfile {
  font-size: x-large;
}

.container .profile .infoProfile span {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container .profile .btnProfile {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.container .profile .btnProfile div {
  width: 90%;
}

.container .content {
  width: 60%;
  height: 70%;
}

.container .content .tabs {
  width: 100%;
  height: 100%;
  border-radius: 2rem;

  @media (max-width: 769px) {
    padding: 2rem 0;
  }
}

.container .content .tabs .tabsHeader {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  color: var(--white);
  background: var(--secondary);
  justify-content: space-between;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.container .content .tabs .tabsHeader li {
  width: 50%;
  height: 100%;
  padding: 1rem;
  list-style: none;
  cursor: pointer;
  transition: all 0.7s;
  border-top-left-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  font-weight: 500;
  font-size: 1.5rem;
}

.container .content .tabs .tabsHeader li:nth-child(2) {
  border-radius: 0;
  border-top-right-radius: 2rem;
}

.container .content .tabs .tabsHeader li:hover {
  background: rgba(50, 224, 196, 0.15);
  opacity: 1;
}

.container .content .tabs .tabsHeader li.active {
  filter: none;
  opacity: 1;
}

.container .content .tabs .tabsContent {
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}
