.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
  
  .container .navMenu {
    height: 100%;
    width: 20%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
  }
  
  .container .userBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--primary);
  }
  
  .container .userBox img {
    border-radius: 50%;
    border: 0.25rem solid var(--white);
  }
  
  .container .userBox span {
    color: var(--white);
    font-weight: 400;
    font-size: 1.15rem;
  }
  
  .container .menuItems {
    flex-grow: 6;
    background: var(--secondary);
    padding: 1.25rem;
  }
  
  .container .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .container .content .header {
    width: 70%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    border-top-left-radius: 1.3rem;
    border-top-right-radius: 1.3rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
    margin-top: 6%;
  }
  
    .content .header .userNav{
        display: flex;
        flex-direction: row;
        gap: 7.8rem;
        max-height: min-content;
        border-radius: 1rem 1rem 0rem 0rem;
        list-style: none;
        background-color: var(--secondary);
        
    }
    .content .header .userNav li{
      color: var(--background);
      font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1rem;
        opacity: 0.7;
    
    }

    .content .header .userNav li:hover{

        cursor: pointer;
        transform: scale(1.075);
    }
   

    .container .content .itens {
    width: 70%;
    height: 81.5%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
    }
  .container .navMenu .userBox img{
        cursor: pointer;
     
    }
    .container .content .header .active{
        opacity: 1;
    }