.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.container .header {
    width: 60%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--secondary);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 2rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

.container .header span {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
}

.container .content {
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

.container .content img {
    width: 7rem;
}