.container {
  padding: 0.75rem 0.875rem;
  border-radius: 1.4rem;
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.transparent {
  background-color: transparent;
}

.colored {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
  transition: transform 0.2s;
}

.container:hover {
  transform: scale(1.05);
}
