.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.container .navMenu {
    height: 100%;
    width: 20%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

.container .userBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--primary);
}

.container .userBox img {
    border-radius: 50%;
    border: 0.25rem solid var(--white);
}

.container .userBox span {
    color: var(--white);
    font-weight: 400;
    font-size: 1.15rem;
}

.container .menuItems {
    flex-grow: 6;
    background: var(--secondary);
    padding: 1.25rem;
}

.container .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .welcomeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    border-radius: 2rem;
    padding: 2rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

.container .content .welcomeBox img {
    width: 38rem;
}

.container .content .welcomeBox span {
    width: 26rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    user-select: none;
}

.container .a {
    position: absolute;
    width: 53rem;
    left: 24rem;
    top: 7.2rem; 
}

.container .a{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    border-radius: 1rem 1rem 0rem 0rem;
    list-style: none;
    flex-flow: column;
    max-height: 82.5%;
    height: 100vh;
    border: 0.1rem solid rgb(111, 114, 114);
    
}

.container .a .b .userBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* gap: 10rem; */
    padding: 1rem 1.5rem;
    border-radius: 1rem 1rem 0rem 0rem;
    list-style: none;
    background-color: var(--secondary);
    
}
.container .a .b .userBox li{
    color: #FAFAFA;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1rem;
}
.container .a .b .informs{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container .a .b .informs .buttons{
    margin-top: 2rem;
    
}

.container .a .b .inputs{
    display: flex;
    flex-direction: column;
    border-radius: 100rem;

}

.container .a .b .inputs input{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;  
    border-radius: .5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 1.5rem;
    width: 44.625rem;
    height: 3.5rem;
    background-color: #E5E5E5;
    border: solid #E5E5E5;;
    align-self: center;
    
}
.container .a .b .inputs input[type="email"]::placeholder,
.container .a .b .inputs input[type="nickName"]::placeholder,
.container .a .b .inputs input[type="userName"]::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 30px;
    display: flex;
    align-items: left;
    justify-content: left;
    color: #9E9E9E;
    padding: 0;
}

.container .a .b .userPhot{
    margin-top: 2rem;
    

}