.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.container .navMenu {
    height: 100%;
    width: 20%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

.container .userBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--primary);
}

.container .userBox img {
    border-radius: 50%;
    border: 0.25rem solid var(--white);
}

.container .userBox span {
    color: var(--white);
    font-weight: 400;
    font-size: 1.15rem;
}

.container .menuItems {
    flex-grow: 6;
    background: var(--secondary);
    padding: 1.25rem;
}

.container .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content .welcomeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F3F3F3;
    border-radius: 2rem;
    padding: 2rem;
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

.container .content .welcomeBox img {
    width: 38rem;
}

.container .content .welcomeBox span {
    width: 26rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    user-select: none;
}



.container .MYcontent {
    align-items: center;
    justify-content: space-between;
    margin-left: 9rem;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.MYmain {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--white);
    border-radius: 1rem 1rem 0 0;
    width: 100%;
    height: 30rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px;
    padding: 1rem;
    overflow-y: scroll;
}

.container .MYmain .MYheaderMain {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: none;
}

.container .MYheaderMain .MYclassTitle {
    font-size: 2rem;
    font-weight: 300;
    font-size: 36px;
    margin-left: 2rem;
}

.MYDivisor {
    background-color: var(--gray-500);
    width: 100%;    
}

.MYCourseContent{
    width: 100%;
    margin: 0.5rem 0rem 1rem 0rem;
    background: var(--gray-200);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

.MYCourseContent .MYdetailedScore {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.container .MYcontent .MYmain .MYCourseContent .MYdetailedScore, .MYmainScore {
    border-color: var(--gray-700);
    border-style: solid;
    border-radius: 1rem;
    border-style: solid;
    border-width: 2px;
    padding: 0.5rem;
}

.MYCourseContent .MYmainScore {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    flex-direction: column;
    text-align: center;
}

.MYmainScore p {
    font-size: 14px;
}

.MYmainScore .MYmainScorePoint {
    font-size: 20px;
    font-weight: 400;
}

.MYCourseContentDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MYCourseContentDetails .MYColumnLabel {
    font-size: larger;
    font-weight: 500;
    margin-left: 1rem;
}

.MYCourseContentDetails .MYProfessorContent {
    display: flex;
    align-items: center;
    margin-left: 1rem;

    font-weight: 300;
    font-size: 20px;
    margin-left: 1rem;
}

.MYCourseContentDetails .MYProfessorContent img{
    border-radius: 50%;
    margin-right: 1rem;
}

.MYSelectBar{
    width: 18rem;
    padding: .5rem;
    font-size: larger;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: #E0E0E0;
}

.MYSelectBar:focus {
    outline: transparent;
}

.MYCommentContent {
    margin: 1rem;
}

.MYCommentContent textarea {
    width: 100%;
    border-radius: 8px;
    height: 5rem;
    border: 1px solid var(--gray-200);
    background-color: var(--background);
    padding: 0.5rem;
    resize: none;
    outline: none;
}

.MYCommentContent .MYSubmmit {
    text-align: center;
    font-weight: 400;
    font-size: 1.15rem;
}

.MYCommentListItem {
    /* background-color: aquamarine; */
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.MYCommentListItem img{
    border-radius: 50%;
    margin-right: 1rem;
}

.MYCommentListItem .MYCommentTextArea {
    width: 100%;
}

.MYCommentListItem .MYCommentTextArea h4 {
    font-weight: 400;
}

.MYCommentListItem .MYCommentTextArea p {
    width: 80%;
    font-weight: 300;
}