.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.1rem);
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.container {
  position: fixed;
  width: 60%;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--background);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
  border-radius: 0.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.container .header img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
}

.container .header .infoContainer {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.3rem;
}

.container .header .infoContainer .nameInfo {
  cursor: pointer;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.5rem;
}

.container .header .infoContainer .numInfo {
  font-weight: lighter;
  font-size: 1.2rem;
}

.container .header .btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  font-size: 0.8rem;
}

.container .content {
  width: 100%;
  padding-top: 1rem;
  display: flex;
}

.container .displayComentario {
  width: 100%;
  min-height: 100px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--gray-300);
  font-size: 1.2rem;
}
