.container {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
    transition: transform 0.2s;
}

.container:hover {
    transform: scale(1.05);
}

.container .buttonTitle {
    font-weight: 500;
    text-align: center;
}