.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container ul::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.container ul::-webkit-scrollbar-track {
  background: transparent;
}

.container ul::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container ul {
  overflow-y: auto;
  list-style: none;
  height: 100%;
  width: 100%;
}

.container ul li {
  margin-bottom: 1.5rem;
}
