.itemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-100);
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 4px;
}

.itemContainer .itemConteudo {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.itemContainer .itemConteudo .itemComentario {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.itemContainer .itemConteudo .itemDisciplina {
  font-weight: lighter;
}

.itemContainer .itemButton {
  width: 10%;
}
