.container ul {
    list-style: none;
}

.container ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    transition: transform 0.1s, filter 0.1s, opacity 0.1s;
    cursor: pointer;
    user-select: none;

    font-weight: 500;
    filter: grayscale(100%);
    opacity: 0.7;
}

.container ul li:hover {
    transform: scale(1.075);
    filter: none;
    opacity: 1;
}

.container ul li:not(:last-child) {
    margin-bottom: 1.5rem;
}

.container ul li.selected {
    filter: none;
    opacity: 1;
}

.container ul li span {
    color: var(--white);
    font-size: 1.25rem;
}